@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

$myFont: 'Raleway', sans-serif;
$myColor: #000;
$myColor2: #ffff;
$myColor3: #8a2be2;
$myFontSize: 18px;
$myColor4: #989c9c;

// Estilos compartidos entre versiones mobile y desktop
body {
  font-family: $myFont;
  font-size: $myFontSize;
  background-color: $myColor;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

a,
h1 {
  color: $myColor2;
  text-align: center;
}

a {
  justify-content: center;
  text-decoration: none;

  &:hover {
    color: $myColor3;
  }
}

section {
  background-color: $myColor4;
  color: $myColor;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin: 10px;
  border-radius: 20px;

  .section__line {
    width: 10px;
    height: 10px;
  }

  .section__paragraph {
    color: $myColor;
  }

  .section__link--soporte {
    color: $myColor;
  }

  .section__link:hover {
    color: $myColor3;
  }
}

p {
  text-align: center;
  color: $myColor2;
  font-size: 12px;
}
  


  header {
    .header__title {
      font-weight: bold;
      font-size: 60px;
      text-align: center;
      margin-bottom: 2px;
      color: $myColor2;

      &:hover {
        color: $myColor3;
      }

      .header__logo {
        width: 40px;
        height: 40px;
      }
    }
  }

  .section__image {
    height: 400px;
    margin: 0 auto;
    transition: background-color 0.3s, transform 0.3s, filter 0.3s;

    &:hover {
      transform: scale(1.1);
      filter: brightness(0.5);
    }
  }

  .section__links {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 12%;
    padding: 20px;
    font-size: 12px;
}
    .section__link--info{
      background-color: $myColor;
      border-radius: 20px;
      padding: 12px;
      color: $myColor2;
      font-weight: bold;
      font-family: $myFont;

      &:hover {
        color: #000;
        background-color: $myColor3;
    }
    
    }
    
    .section__link--buy {
      background-color: $myColor;
      border-radius: 20px;
      padding: 12px;
      color: $myColor2;
      font-weight: bold;
      font-family: $myFont;

      &:hover {
        color: #000;
        background-color: $myColor3;
      }
    }
  
  
