@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

$myFont: Raleway;
$myColor: #000;
$myColor2: #ffff;
$myColor3: #8a2be2;
$myFontSize: 18px;
$myColor4: #989c9c;


//versión mobile first
@media screen and (min-width: 480px) {

  body {
    font-family: $myFont;
    font-size: $myFontSize;
    background-color: $myColor;
  }

  nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }

  a,
  h1 {
    color: $myColor2;
    text-align: center;
  }

  

  header {

    .header__title,
    h1 {
      font-weight: bold;
      font-size: 60px;
      text-align: center;
      font-family: 'Raleway';
      margin-bottom: 2px;
      color: $myColor2;
    }

    .header__title:hover {
      color: $myColor3;
    }
    .header__logo {
      width: 40px;
      height: 40px;
    }
  }

  a {
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway';

    &:hover {
      color: $myColor3;
    }
  }


  .section__image {
    height: 400px;
    margin: 0 auto;
  }

  section {

    background-color: $myColor4;
    color: $myColor;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 10px;
    border-radius: 20px;
  }

  .section__line {
    width: 10px;
    height: 10px;
  }

  .section__paragraph {
    color: $myColor;
  }

  .section__link--soporte {
    color: $myColor;
  }

  .section__link:hover {
    color: $myColor3;
  }
}


p {
  text-align: center;
  color: $myColor2;
  font-size: 12px;
}




section {

  .section__container {
    display: flex;
    justify-content: space-between;
  }

  .section__image {
    max-width: 40%;
    height: auto;
    transition: background-color 0.3s;
    transition: transform 0.3s, filter 0.3s;
  }

  .section_image:hover {
    transform: scale(1.1);
    filter: brightness(0.5);

  }

  .a .section__link--info, .section__link--buy {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .section__link {
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
    padding: 20px;
    font-size: 12px;

  }

  .section__link--info, .section__link--buy {
    background-color: $myColor;
    border-radius: 20px;
    padding: 12px;
    color: $myColor2;
    font-weight: bold;
    font-family: 'Raleway';
  }

  .section__link--info, .section__link--buy:hover {
    color: #000;
    background-color: #8a2be2;
    font-weight: bold;
  }

  .section__link .a {
    text-align: center;
  }
}

footer {
  background-color: $myColor4;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}


//versión desktop
@media screen and (min-width: 700px) {
  body {
    font-family: $myFont;
    font-size: $myFontSize;
    background-color: $myColor;
  }

  nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }

  a,
  h1 {
    color: $myColor2;
    text-align: center;
  }

  .logoapple {
    width: 40px;
    height: 40px;
  }

  header {

    .titulo-header,
    h1 {
      font-weight: bold;
      font-size: 60px;
      text-align: center;
      font-family: 'Raleway';
      margin-bottom: 2px;
      color: $myColor2;
    }

    .titulo-header:hover {
      color: $myColor3;
    }

  }

  a {
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway';

    &:hover {
      color: $myColor3;
    }
  }


  .img-iphone {
    height: 400px;
    margin: 0 auto;
  }

  section {

    background-color: $myColor4;
    color: $myColor;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 10px;
    border-radius: 20px;
  }

  .line {
    width: 10px;
    height: 10px;
  }

  .p {
    color: $myColor;
  }

  .soporte {
    color: $myColor;
  }

  .soporte:hover {
    color: $myColor3;
  }
}


p {
  text-align: center;
  color: $myColor2;
  font-size: 20px;
}




section {

  .contenedor {
    display: flex;
    justify-content: space-between;
  }

  .img-iphone {
    max-width: 40%;
    height: auto;
    transition: background-color 0.3s;
    transition: transform 0.3s, filter 0.3s;
  }

  .img-iphone:hover {
    transform: scale(1.1);
    filter: brightness(0.5);

  }

  .a .enlace {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .enlace {
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
    padding: 20px;
    font-size: 20px;

  }

  .enlace1 {
    background-color: $myColor;
    border-radius: 20px;
    padding: 12px;
    color: $myColor2;
    font-weight: bold;
    font-family: 'Raleway';
  }

  .enlace1:hover {
    color: #000;
    background-color: #8a2be2;
    font-weight: bold;
  }

  .section .a {
    text-align: center;
  }
}

footer {
  background-color: $myColor4;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}