
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
  @media screen and (min-width: 480px) {
    
 body {
  background-color: #000;
  overflow-x: hidden;
 }

 nav{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
 }

 a, h1{
  color: white;
  text-align: center;
  font-family: 'Raleway';
 }

 h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  font-family: 'Raleway';
  margin-bottom: 2px;
  color: white;
 }

.logoapple {
  width: 50px;
  height: 50px;
}
.line {
  width: 10px;
  height: 10px;
}

.titulo-header {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  font-family: 'Raleway';
  margin-bottom: 2px;
  color: white;
}

.titulo-header:hover {
  color:#8a2be2;
}

a {
  justify-content: center;
  text-decoration: none;
  font-family: 'Raleway';
}

a:hover {
  color:blueviolet;
}

.img-iphone {
  height: 400px;
  margin: 0 auto;
}

.section {
  background-color: rgb(139, 140, 140);
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  padding: 3px;
  margin: 23px;
  border-radius: 20px;
  width: 70%;
  height: 40%;
  margin-left: 14%;
  font-family: 'Raleway';
}

.section .p {
  color: black;
}

p{
  text-align: center;
  color: white;
  font-family: 'Raleway';
}
.soporte{
  color:#000;
  font-weight: bold;
}
.soporte:hover{
  color:blueviolet;
}

.enlace{
  position: relative;
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 13%;
  padding: 20px;
}

.enlace1{
  background-color: rgb(139, 140, 140);
  border-radius: 20px;
  padding: 12px;
  color: #000;
  font-weight: bold;
  font-family: 'Raleway';
}

.enlace1:hover {
  color: #000;
  background-color: #8a2be2;
  font-weight: bold;
}

.section .a {
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}
.img-iphone{
  max-width: 40%;
  height: auto;
  transition: background-color 0.3s;
  transition: transform 0.3s, filter 0.3s;
}

.img-iphone:hover{
  transform: scale(1.1);
  filter: brightness(0.5);

}
.a .enlace {
  justify-content: center;
  text-align: center;
  align-items: center;
}


footer {
  background-color: rgb(139, 140, 140);
  padding: 10px;
  border-radius: 20px;
}

}
  
  @media screen and (min-width: 900px) {
    
 body {
  background-color: #000;
 }

}


  