$myFont: Raleway;
$myColor: #ba7575;
$myColor2: #ffff;
$myColor3: #8a2be2;
$myFontSize: 18px;


body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
}


 nav{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
 }

 a, h1{
  color: $myColor2;
  text-align: center;
 }

.logoapple {
  width: 40px;
  height: 40px;
}

.titulo-header, h1 {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  font-family: 'Raleway';
  margin-bottom: 2px;
  color:$myColor2;
}

.titulo-header:hover {
  color: $myColor3;
}

a {
  justify-content: center;
  text-decoration: none;
  font-family: 'Raleway';
}

a:hover {
  color: $myColor3;
}

.img-iphone {
  height: 400px;
  margin: 0 auto;
}

.section {
  background-color: rgb(139, 140, 140);
  color: $myColor;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  margin: 10px;
  border-radius: 20px;
}

.section .p {
  color: $myColor;
}

p{
  text-align: center;
  color: $myColor2;
}
.soporte{
  color: $myColor;
}
.soporte:hover{
  color: $myColor3;
}

.enlace{
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 17%;
  padding: 20px;
  
}

.section .a {
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}
.img-iphone{
  max-width: 40%;
  height: auto;
  transition: background-color 0.3s;
  transition: transform 0.3s, filter 0.3s;
}

.img-iphone:hover{
  transform: scale(1.1);
  filter: brightness(0.5);

}
.a .enlace {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.form{
text-align: center;
justify-content: center;
align-items: center;
}

.github{
max-width: 40px;
height: 40px;
}
  